<div class="container discussion-container">
  <h3 class="text-white"> 💬 Conversations</h3>

  <div id="new_discussion">
    <%= link_to new_discussion_path do %>
      <i class="fas fa-pen-square"></i>
    <% end %>     
  </div>
  <div class="discussion-wrapper">
    <% @discussions.each do |discussion| %>
      <%= link_to discussion_path(discussion) do %>
        <% if policy(discussion).index? %>   
          <div class="discussion">
            <div>
              <img class="avatar-bordered" src="https://creai-grand-est.fr/bundles/admin/images/user-empty-avatar.png"/>
              <% if current_user.position == "employee" %>
                <%= discussion.hr.first_name %>
                <%= discussion.hr.last_name %>
              <% else %>
                <%= discussion.employee.first_name %>
                <%= discussion.employee.last_name %>
              <% end %>
            </div>
            <div>
              <%= discussion.topic %>
              >
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
 
</div>
