<div class="action-container">
  <div class="return-arrow">
    
    <a href="/discussions"> <i class='fas fa-arrow-left'></i> </a>
    <!-- <%= link_to "", discussions_path()  %> -->
  </div>

  <div class="option-tabs">
    <div class="action-new discussion">
      <p>Discussions</p>
    </div>
    <div class="action-new appointment">
      <p>Rendez-vous</p>
    </div>
  </div>
    <%= simple_form_for @discussion, url: discussions_path(@discussion) do |f| %>
      <%= f.input :topic, label: false, placeholder: "Topic" %>
      <%= f.input :hr_id, label: false, placeholder: "HR", collection: User.where(company: current_user.company).where(position: position = 'hr').map{|user| "#{user.first_name} #{user.last_name}"} %>
      <%= f.submit %>
    <% end %>
</div>