<div class="action-container">
  <div class="return-arrow">
    <a href="/discussions"> <i class='fas fa-arrow-left'></i> </a>
  </div>

  <div class="option-tabs">
    <div class="action-new discussion <%= "bg-white" if controller_name == "discussions" %>">
      <a href="#">Discussion</a>
    </div>
    <div class="action-new appointment">
      <a href="/employee/appointments/new">Rendez-vous</a>
    </div>
  </div>
    <%= simple_form_for @discussion, url: discussions_path(@discussion) do |f| %>
      <%= f.input :topic, label: false, placeholder: "Topic" %>
      <%= f.input :hr_id, label: false, placeholder: "HR", collection: current_user.company.users.where(position: 'hr'), label_method: :full_name %>
      <%= f.submit %>
    <% end %>
</div>