<div class="container action-container">

  <div id="messages" data-discussion-id="<%= @discussion.id %>" class="discussion-container">
    <div class="discussion-info">
      
      <a href="/discussions"> <i class='fas fa-arrow-left'></i> </a>
      <!-- <%= link_to "", discussions_path()  %> -->
      <h5><%= @discussion.hr.first_name %> <%= @discussion.hr.last_name %></h5>

    </div>
    <div class="message-wrapper">
      <% @discussion.messages.each do |message| %>
        <div class="message <%= "current_user" if current_user.id == message.user_id %>">  
          <div class="chat-bubble" id="message-<%= message.id %>">
            <p><%= message.content %></p>
          </div> 
          <i class="time">
            <small><%= message.created_at.strftime("%l:%M%p") %></small>
          </i>
        </div>
      <% end %>
    </div>
    
    <div class="message-form">
      <%= simple_form_for [ @discussion, Message.new ] do |f| %>
        <%= f.input :content, label: false, placeholder: " ##{@discussion.topic}" %>
        <%= button_tag do %>
          <i class='fas fa-paper-plane'></i>  
        <% end %>
      <% end %>
    </div>

  </div>

</div>
