<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
  </head>

  <body onload='number_pages'>
  <div id="head_pdf">
    <div id="pdf_photo">
      <%= image_tag wicked_pdf_asset_base64('logo_popay.png'), width: 50, height: 45 %>
    </div>
    <h1 id="pdf_title">
      Confirmation d'acompte sur salaire
    </h1>
  </div>
    <h3>
      Entreprise: <%= @transaction.user.company.name %>
    </h3>
    <h3>
      Nom: <%= @transaction.user.last_name %>
    </h3>
    <h3>
      Prénom: <%= @transaction.user.first_name %>
    </h3>
    <h3 id="separateur">
    Date de la demande: <%= @transaction.due_date %>
    </h3>
    <p>
    Le présent document atteste du versement d'un acompte du montant de <strong><%= @transaction.amount %></strong> €, en date du <strong><%= @transaction.due_date %></strong> au titre d'acompte pour le mois correspondant.
    L'employé accepte les conditions de ventes générales et particulières le liant à Popay.
    </p>

  </body>
</html>