<h1>Create a new transation</h1>
<%= simple_form_for(@transaction, url: employee_transactions_path) do |f| %>
  <%= f.input :amount %>
  <%= f.input :due_date %>
  <%= f.input :bank_account, collection: current_user.bank_accounts %>
  <%= f.submit %>
<% end %>

