
<div class="d-flex justify-content-center" style="margin-bottom: 10px">
  <div class="d-flex">
    <h3>📚  Articles</h3>
  </div>
</div>

<div>
  <% @articles.each do |article| %>
  <%= link_to article_path(article), class:"link-card" do %>
    <div class="card-product_article">
      

        <%= cl_image_tag article.photo.key %>
        <div class="card-product-infos">
          <h2><%= article.title %></h2>
          <p><%= article.content.first(100) %>...</p>
        </div>
        <div class="clock">
          <div class="clockbis">
            <i class="far fa-clock" style="padding-right: 4px"></i><%= article.time %>''
          </div>
        </div>
  
      
    </div>
    <% end %>
  <% end %>
</div>

