<div class="container action-container">
  <div class="card-article">
    <%= cl_image_tag @article.photo.key, class:"article-image"%>
    <h3><%= @article.title %></h3>
      <div class="article-info">
        <p style="margin-right: 15px"><i class="fas fa-tag" style="padding-right: 4px"></i><%= @article.category %></p>
        <p><i class="far fa-clock" style="padding-right: 4px"></i> <%= @article.time %></p>
      </div>
    
    <p> <%= @article.content %></p>
  </div>
</div>