<div id="content-desktop">
  <div class="footer d-flex justify-content-between" id="content-desktop">
    <div class="footer-left">
        <ul> <%= link_to "Contactez-nous" %></ul>
        <ul> <%= link_to "FAQ" %></ul>
        <ul> <%= link_to "Nous rejoindre" %></ul>
    </div>
    <div class="footer-center">
        <ul><h4>Applications</h4></ul>
        <ul> <%= link_to "Entreprises" %></ul>
        <ul> <%= link_to "Salariés"  %></ul>
    </div>
    <div class="footer-links">
      © 2021, Popay
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
 </div>
 