<div class="profile-header">
  <% if current_user.avatar.attached?  %>
  <img class="avatar-large" src="<%= cl_image_path current_user.avatar.key, height: 300, width: 300, crop: :fill %>" />
    <% else %>
  <img class="avatar-large" src="https://creai-grand-est.fr/bundles/admin/images/user-empty-avatar.png" />
  <% end %>
  <h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
</div>
<div class="profile-info">
  <h3 class="pb-1">Informations</h3>
      <p><strong>Identifiant: </strong> <%= current_user.email %></p>
      <p><strong>Nom: </strong> <%= current_user.last_name %></p>
      <p><strong>Prénom: </strong> <%= current_user.first_name %></p>
      <p>
        <p><strong>Rôle: </strong> <%= current_user.position == 'hr' ? "Responsable RH" : "Employé" %></p>
      </p>
      <p><strong>Compte: </strong> <%= current_user.bank_accounts.first.bank_name %> - <%= current_user.bank_accounts.first.iban %></p>
      <p><strong>Revenus annuels: </strong> <%= current_user.annual_income %> €</p>
  <div class="profile-form">
    <%= simple_form_for Discussion.new, url: discussions_path(Discussion.new) do |f| %>
      <%= f.input :topic, as: :hidden, input_html: { "value": "Modification de données RH"} %>
      <%= f.input :hr_id, as: :hidden, input_html: { "value": User.joins(:company).where(users: {company: current_user.company, position:"hr"}).first.id} %>
      <%= f.submit "Demander une modification", class: "btn btn-primary btn-sm btn-block" %>
    <% end %>
</div>
</div>
