
<div class="d-flex">
  <%= render 'shared/sidebar' %>
  <div class="dash-container">
    <div class="dday"><%= localize(Date.today, format: "%B %Y").capitalize %></div>
    <div class="card-dashboard-rh d-flex justify-content-between">
      <div class="card-data">
        <div id="data_of_the_month"><%= current_user.company.number_of_employees %></div>Salariés éligibles</div>
      <div class="card-data">
      <div id="data_of_the_month"><%= @number_of_active_employees %></div>Salariés actifs</div>
      <div class="card-data">
        <div id="data_of_the_month"><%= @average_amount_this_month %> €</div>Acompte moyen</div>
      <div class="card-data">
        <div id="data_of_the_month"><%= @total_acompts_this_month %> €</div>Total débloqué</div>
    </div>
    <div class="graphs d-flex justify-content-between">
      <div class="graph-acomptes">
        <div class="graph-nb-acomptes-title">Evolution du nombre d'acomptes / mois</div>
          <%= column_chart Transaction.joins(:user).where(users: {company: current_user.company}).group_by_month(:due_date, format: "%b %Y").count, colors: ["#2BC798"] %>
      </div>
      <div class="graph-acomptes">
        <div class="graph-total-acomptes-title">Evolution total montant / mois (€)</div>
        <div class="graph-total-acomptes-graph">
          <%= column_chart Transaction.joins(:user).where(users: {company: current_user.company}).group_by_month(:due_date, format: "%b %Y").sum(:amount), colors: ["#2BC798"] %>
      </div>
      </div>
    </div>
    <div class="last-acomptes">Derniers acomptes :</div>
      <%= render partial: 'shared/transaction_table', locals: { transactions: @five_last_transactions } %>
  </div>
</div>
