
<div class="d-flex">
  <%= render 'shared/sidebar' %>
  <div class="dash-container">
    <div class="dday"><%= localize(Date.today, format: "%B %Y").capitalize %></div>
    <div class="card-dashboard-rh d-flex justify-content-between">
      <div class="card-data">Salariés éligibles
        <div id="data_of_the_month"><%= current_user.company.number_of_employees %></div></div>
      <div class="card-data">Salariés actifs
      <div id="data_of_the_month"><%= @number_of_active_employees %></div></div>
      <div class="card-data">Acompte moyen
        <div id="data_of_the_month"><%= @average_amount_this_month %> €</div></div>
      <div class="card-data">Total débloqué
        <div id="data_of_the_month"><%= @average_amount_this_month %> €</div></div>
    </div>
    <div class="graphs d-flex justify-content-between">
      <div class="graph-acomptes">
        <div class="graph-nb-acomptes-title">Evolution du nombre d'acomptes / mois</div>
          <%= column_chart Transaction.group_by_month(:due_date, format: "%b %Y").count %>
        </div>
      </div>
      <div class="graph-acomptes">
        <div class="graph-total-acomptes-title">Evolution total montant / mois (€)</div>
        <div class="graph-total-acomptes-graph">
          <%= column_chart Transaction.group_by_month(:due_date, format: "%b %Y").sum(:amount) %>
        </div>
      </div>
    </div>
    <div class="last-acomptes">Derniers acomptes :</div>
    <% @five_last_transactions.each do |transaction| %>
      <div class="last-acomptes-list d-flex justify-content-between">
        <div><%= transaction.user.first_name %></div>
        <div><%= transaction.user.last_name %></div>
        <div><%= transaction.amount %></div>
        <div><%= transaction.due_date %></div>
        <div><%= transaction.status %></div>
      </div>
    <% end %>
  </div>
</div>
